.form-control {
  border: 0px solid #000000;
  background-color: #e5e5e5;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500px;
}

.text {
  background-color: #fff9ea;
  border-radius: 15px;
}
