body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Custom button styles */
.custom-confirm-button {
  background-color: #28a745; /* Green color */
  padding: 10px 20px;
  color: white;
  border: none;
}

.custom-confirm-button:hover {
  background-color: #218838; /* Darker green on hover */
}
